#header-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  justify-content: space-between;
  padding: 12px 0;
}

#logo-and-search,
#nav-and-actions,
.actions-container {
  display: flex;
  align-items: center;
  gap: 16px;
}